<div class="row contenedor log">
  <div class="logo-position"> <img alt="Brand" id="logo" src="https://s3.amazonaws.com/crankplan-p/landing-assets/logo.png"></div>    
  <div class="col-content">
    <blockquote>
      <h1>
        Share events with<br>
        your friends! <br>
      </h1>
      <h5>Welcome the new social network to share events <br>
        with you closest friends! <br />
        <br><br>
      </h5>
      <h6>P.S. We're BETA, please send feedback!</h6>
    </blockquote>
  </div>

  <div class="col-content form-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group text-center">
        <p>Login to your account</p>
      </div>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: 'E-mail', class: "form-control inplog", id: "input-email" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control inplog", id: "input-password" %>
      </div>
      
      <div class="form-group">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Keep me logged in" %>
        <% end %>
        <%= f.submit "Log in", class: "btn btn-default pull-right" %>
      </div>
      <% link_to "Forgot password?", new_user_password_path %>
    <% end %>
  </div>
</div>
