<article id="<%= event.id %>" >
  <%= link_to event.creator.full_name, profile_path(event.creator) %>

  <br>
  <%= image_tag(event.image.small)%><br>
  <%= event.details %>
  <br>
  <%= event.users.collect { |user| user.full_name } %>
  <br>
  <%= event.where %> | <%= event.friendly_date %> at <%= event.friendly_hour %>
  <br>
  <% if user_signed_in? && event.creator != current_user %>
    <span class="join_event"><%= event.going_or_join %></span>
  <% end %>
  <br>
  <br>
</article>
