<div class="form-container text-center">
  <%= form_for(@event) do |f| %>
    
    <% if @event.errors.any? %>
      <%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:
      <% @event.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    <div class="form-group">
      <%= f.text_area :details, placeholder: 'Plan details...', class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.text_field :where, class: "form-control", placeholder: 'Where? (Add a place)' %>
    </div>
    <div class="form-group">
      <div class="col-30">
        <%= f.text_field(:date, class: "form-control pull-left input-small", placeholder: 'When?') %>
      </div>
      <div class="col-30">
        <%= f.text_field :time, id: "event_time", class: "form-control", placeholder: 'Time!' %>
      </div>
      <div class="col-30">
        <div id="btn-add-photo-wrapper" class="btn btn-default form-control pull-right input-small">
          <span>Add photo</span>  
          <%= f.file_field :image %>
          <%= token_tag form_authenticity_token %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit "Do it!", id: "btn-add-event", class: "btn btn-default" %>
    </div>
  <% end %>
</div> 