<div class="col-eventos">

<!-- 		  <% if notice %>
	    <p class="alert alert-notice"><%= notice %></p>
	  <% end %>
	  <% if alert %>
	    <p class="alert alert-error"><%= alert %></p>
	  <% end %> -->
  
	<%= render 'form' %>

	<section id="requests">
		<% current_user.follow_requests.each do |requesting_user| %>			
  		<%= render 'requests', requesting_user: requesting_user %>
		<% end%>
	</section>

	<section id="events">
		<% @rendered_events.each do |rendered_event| %>
	  	<%= render 'event', rendered_event: rendered_event %>
		<% end%>
	</section>

</div>
