<h3>Make events faster <br />
  with your real friends <br />
</h3>
<h5>Welcome the new private social network to share events <br />
    with you closest friends!
</h5>
<%= link_to "Sign up", new_user_registration_path %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <%= f.email_field :email, autofocus: true %>
  <%= f.label :email %>
  <%= f.password_field :password, autocomplete: "off" %>
  <%= f.label :password %>
  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  <% end %>
  <%= f.submit "Log in" %>
<% end %>

<br>

<%= render "devise/registrations/form" %>

<footer>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/help">Help</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</footer>
