<!DOCTYPE html>
<html>
<head>
  <title>Crackplan</title>
  <%= stylesheet_link_tag 'application', :media => "all",'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
</head>
<body>
  <header>
    <div class="col-header">
      <div class="col-logo">
        <a href="/">
          <%= image_tag("https://s3.amazonaws.com/crankplan-p/header_logo.png", id: "logo-crackplan") %>
        </a>
      </div> 
      <div class="col-username">
        <% if current_user%>
          <%= image_tag(current_user.image.small, class: "profile-avatar") %>
          <div id="username-wrapper">
            <%= link_to current_user.full_name, profile_path(current_user), class: 'username' %>
            <br>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => 'logout' %>            
          </div>
        <% end %>        
      </div> 
    </div>
  </header>

  <%= yield %>

</body>
</html>
